#studentUploader{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: 10px;
}
#seniorUploader{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: 10px;
}
#pwdUploader{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}